<a href="https://colab.research.google.com/github/abcshc/python-learn-start/blob/master/%EC%86%8C%ED%9D%AC%EC%B2%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트

## 리스트란?
리스트는 여러 값을 담을 수 있는 변수입니다.


### 1. 리스트 만들기
방법은 2가지

#### 방법 1

In [0]:
# list1 이라는 빈 리스트를 만들어 보겠습니다.
list1 = [1, 2]
print(list1)
list2 = [1, '철수', True]
print(list2)
list3 = list()
print(list3)
list4 = list([1, '철수', True])
print(list4)

[1, 2]
[1, '철수', True]
[]
[1, '철수', True]